#include <windows.h>
#define STR(s) #s

VS_VERSION_INFO VERSIONINFO
	FILEVERSION VER_WINRC
	PRODUCTVERSION VER_WINRC
	FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
	#ifdef VER_WIN_DBG
	FILEFLAGS VS_FF_DEBUG
	#else
	FILEFLAGS VS_FF_PRERELEASE
	#endif
	FILEOS VOS_NT_WINDOWS32 // TODO No 64-bit?
	FILETYPE VFT_APP
	FILESUBTYPE VFT2_UNKNOWN
	{
		BLOCK "StringFileInfo" {
			BLOCK "040904B0" { // 0x0409 == US English; 0x04B0 == Unicode
				VALUE "ProductName", "YAABE BIOS Editor"
				//VALUE "FileVersion", VER_STR // can't get this to correctly preprocess
				//VALUE "ProductVersion", VER_STR
				VALUE "FileDescription", "https://github.com/netblock/yaabe"
				VALUE "LegalCopyright", "Copyright Netblock"
			}
		}
		BLOCK "VarFileInfo" {
			VALUE "Translation", 0x0409, 0x04B0
		}
}
